<app-sidebar></app-sidebar>
<div class="container">
  <app-carrossel></app-carrossel>
  
  <h2 class="title_stock">Stock</h2>
  
  <select [(ngModel)]="selectedOrder" (change)="orderBy()">
    <option value="">Ordenar</option>
    <option value="Modelo">Ordenar por Modelo</option>
    <option value="Marca">Ordenar por Marca</option>
    <option value="Ano">Ordenar por Ano</option>
    <option value="Preco">Ordenar por Preço</option>
  </select>

  <ul>
    <li *ngFor="let car of cars | paginate: { itemsPerPage: 12, currentPage: pageNumber }">
      <img [src]="car.imagem" alt="{{ car.marca }} {{ car.modelo }}">
      <span>
        Marca: {{ car.marca }} 
      </span>
      <span>
        Modelo: {{ car.modelo }}
      </span>
      <span>
        Preço: {{ car.preco | currency:'BRL':'symbol' }} 
      </span>
      <button class="btn_details" [routerLink]="['/carlist', car.id]">Detalhes</button>
    </li>
  </ul>
  
  <pagination-controls class="custom-pagination" (pageChange)="pageNumber = $event"></pagination-controls>
</div>