@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form-container {
  animation: fadeIn 1s;
  max-width: 800px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
  }

  label,
  input,
  select {
    display: inline-block;
    width: 150px;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input,
  select {
    background-color: #ccc;
    width: calc(100% - 150px);
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  select {
    height: 50px;
    padding: 8px;
  }

  option {
    background-color: #ccc;
  }

  button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border-color: #cf4f05;
    font-size: 16px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }

    &:hover {
      border-color: aqua;
      border-radius: 5px;
    }
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 300px;
  padding: 20px;
  background-color: #b0e7b0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: center;
}
